@use '/src/assets/styles/variables' as *;

.works {
    padding: 4.5em 0;

    &-header {
        display: flex;
        flex-wrap: wrap-reverse;

        align-items: flex-start;

        @media (max-width: $screen-xl) {
            align-items: center;
        }

        margin-bottom: 3rem;

        &_item {
            width: 50%;

            @media (max-width: $screen-xl) {
                width: 100%;

                .card-container {
                    display: block;
                }
            }
        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        &_item {


            flex: 1 0 30%;

            @media (max-width: $screen-xl) {
                flex: 1 0 45%;
            }

            @media (max-width: $screen-md) {
                flex: 1 0 100%;
            }
        }

        .card {
            &-inner {
                display: flex;
                flex-direction: column;

                justify-content: space-between;

                height: 400px;
                overflow: hidden;


                @media (max-width: $screen-md) {
                    height: 100%;
                }
            }
        }
    }

    &-card {
        &_title {
            // margin-bottom: 1rem;
        }

        &_subtitle {
            font-size: $title-xs;
            font-weight: 300;
            margin-bottom: 1rem;
        }

        &_description {
            font-family: $font-text-bash;
            color: $clr-text-dark;
            margin-bottom: 1rem;

            // hide text overflow
            overflow: hidden;
            display: -webkit-box;
            /* number of lines to show */
            -webkit-line-clamp: 5;
            line-clamp: 5;
            -webkit-box-orient: vertical;

            // temp solution
            &:hover {
                line-clamp: 100;
                -webkit-line-clamp: 100;
            }
        }

        &_info {
            margin-bottom: 2rem;
        }
    }
}