@use '/src/assets/styles/variables' as *;

.about {
    padding: 5.5rem 0 4.5rem ;

    &-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &_item {
            width: 50%;

            @media (max-width: $screen-md) {
                width: 100%;
            }
        }
    }

    &-image {
        img {
            display: block;
            margin: 0 auto;
            
            max-width: 575px;
            width: 100%;
        }
    }
}