@use '/src/assets/styles/variables' as *;

.title {
    position: absolute;
    display: inline-block;
    width: 100%;

    font-weight: 400;
    font-family: $font-title;

    &-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        &.--card {
            justify-content: flex-start;
        }
    }

    &-inner {
        position: relative;
        
        & h2 {
            font-size: $title-xl;
        }
        & h4 {
            font-size: $title-sm;
        }
    }

    &.--white {
        position: relative;
        color: $clr-title-white;

        filter: drop-shadow(-10px -10px 14px rgba(0, 0, 0, 0.25));
    }
    &.--blue {
        background: $blue-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        left: -70px;
        top: -20px;

        &.--card {
            left: -5px;
            top: 8px;
        }
    }
    &.--pink {
        background: $pink-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        left: -140px;
        top: -40px;

        &.--card {
            left: 5px;
            top: -8px;
        }
    }
}