@use '/src/assets/styles/variables' as *;

.title {
    position: absolute;
    display: inline-block;
    width: 100%;

    font-weight: 400;
    font-family: $font-title;

    margin-bottom: 2rem;

    &-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        &.--card {
            justify-content: flex-start;

            margin-bottom: 0;

            &.--contact {
                justify-content: center;

                margin-bottom: 2rem;

                h4 {
                    font-size: $title-lg;
                }
            }
        }
    }

    &-inner {
        position: relative;

        & h2 {
            line-height: 1;
            font-size: $title-xl;

            @media (max-width: $screen-md) {
                font-size: $title-lg;
            }
        }

        & h4 {
            line-height: 1;
            font-size: $title-sm;
            text-align: center;
        }
    }

    &.--white {
        position: relative;
        color: $clr-title-white;

        filter: drop-shadow(-10px -10px 14px rgba(0, 0, 0, 0.25));
    }

    &.--blue {
        background: $blue-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        left: -70px;
        top: -20px;

        @media (max-width: $screen-md) {
            left: -35px;
            top: -15px;
        }

        &.--card {
            left: -5px;
            top: 8px;
        }
    }

    &.--pink {
        background: $pink-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        left: -140px;
        top: -40px;

        @media (max-width: $screen-md) {
            left: -70px;
            top: -30px;
        }

        &.--card {
            left: 5px;
            top: -8px;
        }
    }
}