@use '/src/assets/styles/variables' as *;

.contacts {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .card {
            display: flex;
            justify-content: center;
            .card-container {
            margin-bottom: 3rem;
        }
    }
}