@use './assets/styles/variables' as *;


body {
    color: $clr-text;
    background-color: $bg-body;
    margin: 0 auto;
    font-size: $font-size-base;
    font-family: $font-text;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    // border:1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 1rem;

    margin: 0 auto;
}

.section-container {
    padding: 4rem 2rem 5rem;

    border-radius: 20px;
    box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.25), -70px 50px 30px rgba(0, 0, 0, 0.25);

    @media (max-width: $screen-md) {
        padding: 1rem .5rem 3rem;
    }
}

a,
button,
svg {
    transition: color linear .2s,
        background-color linear .2s,
        border-color linear .2s,
        fill linear .2s;
}

.terminal {
    &-line {
        color: $pink-base;
    }

    &-in {
        margin-left: .5rem;
        background: none;
        border: none;
        color: $blanche;

        // border: 1px solid red;
        flex-grow: 1;
        overflow-wrap: break-word;

        &:focus {
            outline: none;
        }
    }
}

span.cursor {
    animation: blinker .725s infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.scrollable {
    cursor: ns-resize;

    overflow: hidden;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}