@use './assets/styles/variables' as *;


body {
  color: $clr-text;
  background-color: $bg-body;
  margin: 0 auto;
  font-size: $font-size-base;
  font-family: $font-text;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  // border:1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;

  margin: 0 auto;
}

a,
button,
svg {
  transition: color linear .2s,
              background-color linear .2s,
              border-color linear .2s,
              fill linear .2s;
}