@use '/src/assets/styles/variables' as *;

.navbar {
    background-color: $bg-navbar;
    filter: drop-shadow(-10px -16px 20px rgba(158, 0, 255, 0.25)) drop-shadow(0px 0px 25px rgba(0, 194, 255, 0.25));

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 10;

    &-inner {
        // ??? do i need position relative
        position: relative;

        height: 3.5rem;
        padding: 1rem .625rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media (max-width: $screen-md) {
            justify-content: space-between
        }

        &__nav {
            /* Desktop */
            display: flex;
            flex-direction: row;
            align-items: center;

            .navbar-links {
                display: flex;
                justify-content: center;
                align-items: center;

                &__link {
                    a {
                        font-size: $title-sm;
                    }

                }
            }

            @media (max-width: $screen-md) {
                display: none;
            }

            &-mob {

                /* Tablet / Mobile */
                @media (max-width: $screen-md) {
                    display: block;
                }

                display: none;
                background-color: $bg-navbar;

                position: fixed;
                top: 0;
                right: -180px;
                z-index: 1;

                transition: right .3s ease;

                &.active {
                    right: 1px;
                }

                .navbar-links {
                    &__link {
                        margin: 0;
                        padding: 1rem 0;

                        border-bottom: solid 1px $blanche; // BORDERs

                        &:last-child {
                            border-bottom: none; // BORDERs

                        }

                        a {
                            font-size: $title-md;
                            padding: 0 2rem;
                        }
                    }
                }
            }
        }
    }
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: .3rem 0;

    &__link {
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }

        .navlink {
            position: absolute;
            display: inline-block;
            width: 100%;

            font-weight: 400;
            font-family: $font-title;

            &-inner {
                position: relative;
                text-align: center;
                line-height: 1;

                a,
                h5 {
                    font-size: $title-sm;
                    text-decoration: none;

                }

                &:hover {
                    .navlink.--blue {
                        left: -5px;
                        top: 8px;
                    }

                    .navlink.--pink {
                        left: 5px;
                        top: -8px;
                    }
                }
            }

            &.--white {
                position: relative;
                color: $clr-title-white;

                filter: drop-shadow(-10px -10px 14px rgba(0, 0, 0, 0.25));
            }

            &.--blue {
                background: $blue-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                // left: -5px;
                // top: 8px;
            }

            &.--pink {
                background: $pink-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                // left: 5px;
                // top: -8px;
            }
        }
    }
}

.langbar {
    position: relative;

    color: $clr-navlink;
    text-transform: uppercase;

    margin-left: 1.5rem;

    @media (max-width: $screen-md) {
        margin-left: 0;
    }

    // @media (max-width: $screen-sm-min) {
    //     // align-self: center;
    //     margin: 0 2rem;
    //     padding: 1rem 0;
    // }

    &-current {
        font-size: $text-md;
    
        @media (max-width: $screen-md-min) {
            display: none;
        }
        
        svg {
            display: block;
            width: $text-sm;
            height: $text-sm;
        }
    }

    &-langs {
        position: absolute;
        top: 0;

        background-color: $bg-navbar;

        display: none;

        @media (max-width: $screen-md-min) {
            position: static;
            display: block;
            background-color: transparent;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            display: flex;
            

            @media (max-width: $screen-sm-min) {
                display: flex;
                justify-content: space-around;
            }

            li {
                margin-bottom: .5rem;

                padding: 0 .5rem;


                transition: color .2s linear;

                &:last-child {
                    padding-right: 0;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:hover {
                    cursor: pointer;
                    color: $clr-navlink-hover;
                }

                &.active {
                    color: $pink-base;
                }
            }
        }

        &.active {
            display: block;
            width: 100%;

            opacity: 0;
    

            transition: opacity .3s linear;

            &:hover {
                opacity: 1;
            }
        }
    } 
    
}